%h1  Welcome to the Famous Dead Writers Quiz!
%p{:class => "description clear"} Test your knowledge of the works and writing styles of some of the world's most famous deceased writers! Click on the button below to take the challenge.
.center
	%a{:href => "#{quiz_url}", :class => "start"} Start Quiz
