@import "bootstrap";
/* variables */
$siteBackGroundGray: #000000;
$topNavGray: #f8f8f8;
$topNavHoverGray: #000000;
$orangeAccent:#B96341;
$tealContrast: #60AF76;
$lightTealBorder: #E3F7F8;

/* Universal */

/* typography */

h1, body, .navbar {
	font-family: Georgia, serif
}

/* Header */

/* Body */
body > .container{
	margin-top: 71px;
	min-height: 500px;
}

/* Footer */
