<header class="navbar navbar-fixed-top navbar-inverse"> 
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Who Wrote It", root_path, id: "logo", class: "navbar-brand" %>
			<ul class="nav navbar-nav" %>
				<li><%= link_to "Take Quiz", "#quiz" %></li>
				<li><%= link_to "Books", "#books" %></li>
				<li><%= link_to "Authors", "#Authors" %></li>
			</ul>
		</div>
	</div>
</header>